<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Seyehat planınız mı var?</h2>
                <h4>3 dakika içinde seyehat planın hazır</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="reservation.html">Tur Rotaları</a>
                </div>
            </div>
        </div>
    </div>
</div>
