
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © @DateTime.Now.Year <a href="#">WoOx Travel</a> Company. All rights reserved.
                    <br>Bootcamp: <a href="https://muratyucedag.com/" target="_blank" title="MY Yazılım">MY Yazılım</a> Backend: <a href="https://tr.linkedin.com/in/m-g%C3%BCrkan-kaya-267462273" target="_blank">MGKaya</a>
                </p>
            </div>
        </div>
    </div>
</footer>
